.combo-box {
    -fx-background-color: #edede9;
    -fx-border-color: #2b2d42;
    -fx-border-width: 0px;
    -fx-background-radius: 9px;
    -fx-font-size: 14px;

}

.combo-box .arrow {
    -fx-background-color: transparent;
    -fx-padding: 0px 5px;
}

.combo-box .arrow:hover {
    -fx-background-color: #d6ccc2;
    -fx-border-radius: 3px;
}

.combo-box:focused {
    -fx-border-color: #f5ebe0;
    -fx-border-width: 2px;
}
