.radio-button {
    -fx-font-size: 16px;
    -fx-text-fill: #e5e5e5;
    -fx-padding: 5px 10px;
}

.radio-button:selected .radio {
    -fx-background-color: #4CAF50;
    -fx-border-color: #4CAF50;
}

.radio-button .radio {
    -fx-background-color: #fff;
    -fx-border-color: #333;
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
    -fx-padding: 5px;
}